* {
  margin: 0;
  padding: 0;
}

html,
body,
#app,
.el-row,
.el-col,
.el-container,
.el-menu {
  height: 100%;
}

#vditor .vditor-content .vditor-ir pre[class="vditor-reset"] {
  padding: 10px !important;
}

/* Reset elementui checkbox color */
.el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
  border-color: #85ce61 !important;
  background-color: #85ce61 !important;
}
.el-checkbox__input.is-checked + .el-checkbox__label {
  color: #000 !important;
}
.el-checkbox__inner:hover {
  border-color: #85ce61 !important;
}
.el-checkbox__input.is-focus .el-checkbox__inner {
  border-color: #85ce61 !important;
}

.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
  background-color: #85ce61 !important;
}
