* {
  margin: 0;
  padding: 0;
}

html,
body,
#app,
.el-row,
.el-col,
.el-container,
.el-menu {
  height: 100%;
}

#vditor .vditor-content .vditor-ir pre[class="vditor-reset"] {
  padding: 10px !important;
}
